<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список фильмов</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Список фильмов</h1>
        <ul class="list-group">
            {% for movie in movies %}
            <li class="list-group-item">
                <h3>{{ movie.title }}</h3>
                <p>{{ movie.description }}</p>
                <p><strong>Отзыв:</strong> {{ movie.review }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
